aiohttp==0.21.4
APScheduler==3.1.0
chardet==2.3.0
chromedriver==2.21.1
cssselect==0.9.1
GDAL==1.11.5
GoogleScraper==0.2.1
lxml==3.6.0
numpy==1.11.0
pandas==0.18.1
PyMySQL==0.7.2
python-dateutil==2.5.3
pytz==2016.4
requests==2.9.1
selenium==2.53.2
six==1.10.0
SQLAlchemy==1.0.12
TBB==0.1
tzlocal==1.2.2
ua-parser==0.7.1
user-agents==1.0.1
